div(class="card-header mdl-card mdl-shadow--1dp")
    div(class="mdl-card__title scrollert header")
            div(class="scrollert-content")
                div(style="width: 200%;")
                    h1(style="font-size: 160px; font-weight: bold; color: #fff; letter-spacing: 0.01em; width: 50%; float: left; padding-left: 2rem; box-sizing: border-box; padding-top: .1em;")
                        | Scrollert.js
                        i(class="material-icons" style=" font-size: 200px; box-sizing: border-box; position: absolute; right: -50px; top: .3em; margin: 0; opacity: .75; padding: 0; ") keyboard_arrow_right

                    h1(style="font-size: 80px; font-weight: bold; color: #fff; line-height:.9em; letter-spacing: 0.01em; width: 50%; float: left; padding-left: 2rem; box-sizing: border-box; padding-top: .7em;")
                        | Cross browser OSX-like scrollbar jQuery plugin
    div(class="mdl-card__supporting-text mdl-card--expand")
        h3() About Scrollert
        p.
            ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut feugiat eros, feugiat dignissim metus. Maecenas mollis lacinia felis, non elementum tortor maximus vitae. Donec laoreet nec felis non finibus. Quisque congue, nisl ac accumsan ullamcorper, turpis augue rhoncus ex, vel gravida felis arcu vitae neque. Etiam vel elit vitae nibh finibus dictum fringilla sit amet arcu. Curabitur vel diam ex. Sed vitae congue neque, id blandit augue. Fusce at nunc vitae est condimentum commodo. Pellentesque varius tempus nunc, at cursus lectus consequat finibus. Pellentesque sit amet sapien egestas, condimentum velit a, pretium justo. Phasellus dignissim gravida ante, vitae consectetur enim sodales vitae. Suspendisse ac leo nec metus vestibulum sollicitudin vitae vitae augue. Mauris sagittis, sem ac auctor posuere, mi urna finibus urna, et congue nisl elit eget velit.
    div(class="mdl-card__actions mdl-card--border")
        a(class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#features")
            | Features
        a(class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#demos")
            | Demos
        a(class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://github.com/SyslogicNL/scrollert")
            | View on Github

    div(class="mdl-card__menu")
        a(class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="https://github.com/SyslogicNL/scrollert")
            img(src="./img/github.png" title="View on github")
