head
    title Scrollert
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://code.getmdl.io/1.2.1/material.teal-blue.min.css")

    link(rel="stylesheet", href="css/scrollert.min.css")

    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/themes/default.css")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="https://code.getmdl.io/1.2.1/material.min.js")
