.scrollert
{
    @offset: 4px;
    @outer-size: 18px;
    @inner-size: 10px;

    @min-track-size: 5%;
    @xy-intersection-offset: @offset + 20px;

    @scrollbar-color: black;
    @track-color: black;

    @opacity-default-scrollbar: 0;
    @opacity-default-track: .15;
    @opacity-contenthover-scrollbar: .05;
    @opacity-contenthover-track: .2;
    @opacity-scrollbarhover-scrollbar: .15;
    @opacity-scrollbarhover-track: .5;

    position: relative;
    overflow: hidden;

    > .scrollert-content
    {
        position: absolute;
        overflow: hidden;
        box-sizing: content-box;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &:focus
        {
            outline: none;
        }

        &::-webkit-scrollbar
        {
            display: none;
        }
    }

    > .scrollert-scrollbar
    {
        position: absolute;
        overflow: hidden;

        &:before
        {
            content: '';
            position: absolute;
            overflow: hidden;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            border-radius: @outer-size/2;
            background: @scrollbar-color;
            opacity: @opacity-default-scrollbar;

            transition: opacity 700ms;
        }

        > .scrollert-track
        {
            position: absolute;

            &:before
            {
                content: '';
                position: absolute;
                overflow: hidden;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                border-radius: @outer-size/2;
                background: @track-color;
                opacity: @opacity-default-track;

                transition: opacity 700ms;
            }
        }

        &-y
        {
            top: @offset;
            bottom: @offset;
            right: @offset;
            width: @outer-size;

            > .scrollert-track
            {
                top: 0;
                height: 0;
                width: @outer-size;
                min-height: @min-track-size;
            }

            &:before, > .scrollert-track:before
            {
                width: @inner-size;
                left: (@outer-size - @inner-size) / 2;
            }
        }

        &-x
        {
            left: @offset;
            right: @offset;
            bottom: @offset;
            height: @outer-size;

            > .scrollert-track
            {
                left: 0;
                width: 0;
                height: @outer-size;
                min-width: @min-track-size;
            }

            &:before, > .scrollert-track:before
            {
                height: @inner-size;
                top: (@outer-size - @inner-size) / 2;
            }
        }
    }

    //Both scrollbars are available
    &.scrollert-axis-x.scrollert-axis-y
    {
        > .scrollert-scrollbar-y
        {
            bottom: @xy-intersection-offset;
            top: @offset;
        }

        > .scrollert-scrollbar-x
        {
            right: @xy-intersection-offset;
            left: @offset;
        }
    }


    //Hover behaviour
    &:hover > .scrollert-scrollbar
    {
        //On the content pane
        &:before
        {
            opacity: @opacity-contenthover-scrollbar;
        }

        > .scrollert-track:before
        {
            opacity: @opacity-contenthover-track;
        }
    }

    > .scrollert-scrollbar:hover,
    &.scrollert-trackdrag-y > .scrollert-scrollbar-y,
    &.scrollert-trackdrag-x > .scrollert-scrollbar-x
    {
        &:before
        {
            opacity: @opacity-scrollbarhover-scrollbar;
        }

        > .scrollert-track:before
        {
            opacity: @opacity-scrollbarhover-track;
        }
    }
}
